$headheight:30px;
$fs12:12px;
$fColor:#999999;
$webColor:#64a131;


#register{
    .log_right{padding-left:60px;margin-top:36px;
        li{margin-bottom:26px;position:relative;
            .hint{float:left;width:96px;height:40px;line-height:40px;text-align:right;color:$fColor;}  
            .all{border:1px solid #ccc;margin-left:42px;width:276px;height:28px;}
            .all_code{border:1px solid #ccc;margin-left:42px;width:248px;height:28px;}
            input{padding:6px 12px;}
            .tf{position:absolute;width:22px;height:22px;right:-36px;top:10px;display:none;}
            .code{position:absolute;width:115px;height:38px;right:28px;top:2px;line-height:38px;text-align:center;}
            .refresh{display:block;width:20px;height:20px;background:url('../img/refresh.png');position:absolute;right:0;top:9px;}
            .phone_code{position:absolute;width:98px;height:38px;font-size:14px;right:0;top:2px;line-height:38px;text-align:center;z-index:1000;}
            .check2{width:300px;padding-left:138px;
            button{&:nth-child(1){margin-right:5px;}
                a{display: block;width: 143px;height: 38px;line-height: 38px;text-align: center;font-size:18px;}
            }
            
            button:nth-child(1) a{background-color: #64a131;padding: 0px;color:#fff;border-radius: 4px;}
            button:nth-child(2) a{border: 1px solid #64a131;background-color: #f5ffed;color: #7bae55;border-radius: 6px;}
        }   
        }       
    }
}   
.mask{position:fixed;left:0;right:0;top:0;bottom:0;background: rgba(0,0,0,0.36);z-index: 999;opacity: 1;display:none;}
#popover{width:344px;height:132px;padding:8px;    position: fixed;z-index:1000;background:#464542;display:none;
    h4{position:relative;height: 40px;padding: 0 15px;background: #eaeaea;margin: 0;font-size: 16px;line-height: 40px;color: #555;
        .close{position:absolute;right:10px;width:20px;height:20px;background:url('../img/close.png');top:10px;}
    }
    .pover_cont{padding:30px 20px 20px 20px;background: #fff;
        span:nth-child(1){display:inline-block;width:32px;height:32px;background:url('../img/i.png');float:left;}
        span:nth-child(2){margin: 6px 0 6px 10px;width: 260px;float:left;}
    }
}