$headheight:30px;
$fs12:12px;
$fColor:#999999;
$webColor:#64a131;
    
body{height: 2000px;}
/*--------------------顶部-------------------*/
.head{
    background: #EEEEEE;width:100%;
    .head_left{
        float:left;
        height: $headheight;
        font-size: $fs12;
        line-height: $headheight;
        .city{
        padding-left: 27px;
        height: $headheight;
            a{
                display:inline-block;
                width:45px;
                color:$fColor;
                &:hover{color:#000000;}
            }

        }
        .head1{
            position: absolute;
            display: block;
            width:16px;
            height: 14px;
            background: url('../img/head1.png');
            left:9px;top:9px;
            }

        .head2{
            position: absolute;
            display: block;
            width:12px;
            height: 14px;
            background: url('../img/head2.png');
            left:58px;top:9px;
            }
        span:nth-child(2){
            padding-left: 10px;
            color:$fColor;
        }
        .link{
        color:#64A131;
        &:hover{text-decoration:underline;}
        }
    }
    .head_right{
    float:right;
    height: $headheight;
    font-size: $fs12;
    line-height: $headheight;

    ul{
        li:nth-child(3) span{border-left:1px solid $fColor;}
        li:nth-child(4) span{padding-left: 37px;}
        li:nth-child(5) span{padding-left: 37px;padding-right:0;font-weight: bold;border-right: 0 none;border-left:1px solid $fColor;}
        li{float: left;position: relative;
        a{color:$fColor;&:hover{color:#F6AA00;text-decoration:underline;}}
        // span{&:hover{}}
        .register{padding-right: 10px;}
        .login span{padding:0 9px 0 5px;}
        span{
        border-right: 1px solid $fColor;
        padding: 0 17px;
        height: 12px;
        }
        .head3{
        display: block;
        position: absolute;
        width:14px;
        height: 14px;       
        background: url('../img/head3.png');
        top:8px;left:10px;
        }   
        .head4{
        display: block;
        position: absolute;
        width:15px;
        height: 15px;       
        background: url('../img/head4.png');
        top:8px;left:17px;
        }
        .tis{position:absolute;z-index:100;width:260px;height:270px;padding:10px 15px;right:0;background:#fff;display:none;box-shadow: 0 10px 15px rgba(175,175,175,0.75);
        .tis1{font-size:12px;height:30px;line-height:30px;text-align:center;
            .s1{color:$webColor;}
        }
            .dl1{padding-bottom:15px;border-bottom:1px solid #ddd;
            dt{float:left;}
            dd{float:right;width:145px;
                a{margin:10px 0;height:36px;width:145px;display:block;}
                }
            }
            .dl2{margin-top:15px;
                dt{float:left;}
                dd{float:right;width:145px;padding-top:30px;
                    .s2{color:$webColor;font-size:12px;padding:0;}
                    p{font-size:12px;height:12px;line-height:12px;}
                }
            }
            
        }

        .notice{position:absolute;width:210px;padding:10px 15px 5px 10px;right:0;z-index:100;background:#fff;display:none;box-shadow: 0 10px 15px rgba(175,175,175,0.75);
            li{width: 100%;height: 36px;border-bottom: 1px dashed #ddd;line-height: 36px;
                i{display: inline-block;padding: 0 5px;margin-left: 3px;background: #f53030;border-radius: 3px;height: 16px;font-size: 12px;line-height: 16px;color: #fff;}
            }
            .more{width:210px;text-align:center;
                a{color:$webColor;}
            }
            li:hover a{color:$webColor;text-decoration:none;}
        }

    }
    li:nth-child(2){margin:0 8px;
        span{border-right:0 none;padding:0 8px;}
    }
    li:nth-child(4){margin:0 8px;
        span{border-right:0 none;padding:0 8px 0 29px;}
    }
    li:nth-child(4):hover,li:nth-child(2):hover{background:#fff;}
    li:nth-child(4):hover a,li:nth-child(2):hover a{color:$fColor;text-decoration:none;}
    li:nth-child(4):hover .tis{display:block;}
    li:nth-child(2):hover .notice{display:block;}

    }
    }
}   
/*--------------------logo部分-------------------*/
#section{
    width: 100%;padding: 20px 0 18px 0;
    h3{
    padding:4px 0 0 4px;
        a{
        display: block;
        background: url('../img/logo.jpg');
        width: 295px;
        height: 73px;
        }
    }
    .list{padding-left: 43px;
        li{
        float:left;
        position:relative;
        a{
            display: block;
            margin:20px 0;
            padding:0 25px;
            text-align: center;
            border-right: 1px solid #eee;
            &:hover{background: #EEEEEE;}
            p{
            display:block;
            font-size: 14px;
            color:$fColor;
            height:22px;
            line-height: 22px;
            }     
            span{
            font-size: 14px;
            color:$fColor;
            height:12px;
            height: 14px;
            line-height: 14px;
            }      
        }
        em{position:absolute;width:82px;border-bottom: 2px solid $webColor;bottom:-16px;left:5%;display:none;}
        }  
        li:last-child a{border-right:0 none;}
        // li:nth-child(1) p{color:$webColor;}
        // li:nth-child(1) span{color:$webColor;}
        
    }
    .user{padding-right:17px;
        .search{width: 80%;padding: 5px 3px;
        }
        button a{display: block;width:18px;height: 16px;background: url('../img/search.png');position:absolute;top:4px;right:8px;
        }
        }   
    .user_l{margin-top: 24px;
        .hot a{font-size: $fs12 ;color:$fColor;}
        .hot span{font-size: $fs12 ;color:$fColor;}
        .sum_search{border-bottom: 1px solid $fColor;width:180px;position:relative;}
    }
    .user_r{margin:20px 0 0 15px;position:relative;
        .g_car{display: block;width:38px;height: 42px;background:url('../img/car.png');position:relative; 
            .car_qty{position:absolute;top: 4px;left: 13px;width: 20px;height: 16px;line-height: 16px;color: #fff;text-align: center;z-index: 5;}
            }
        .buy_car{position:absolute;width:310px;padding: 15px 0 15px 15px;background: #fff;box-shadow: 0 0 45px rgba(175,175,175,0.75);z-index: 99;top:78px;right:-17px;display:none;
        i{position:absolute;width:24px;height:20px;background:url(../img/jtou.png);top:-14px;right:22px;}
        p{color:$fColor;text-align:center;font-size:14px;margin:10px 0;}
        li{position: relative;height: 86px;margin-bottom: 15px;padding-bottom: 15px;border-bottom: 1px dashed #eee;
            a{display: block;position: relative;width: 100%;height: 100%;color: #999;
                div.min{width: 100%;height: 100%;padding-left: 85px;}
            }
            span{position: absolute;bottom: 8px;right: 0;padding: 10px 6px;}
        }
        img{display: block;width: 70px;height: 70px;box-shadow: 0 0 3px rgba(0,0,0,0.3);float:left;}
    }
    }   
    
    
}
/*--------------------content部分-------------------*/
#content{margin-top:17px;width:1290px;margin-bottom:50px;
    li{float:left;
        a{
            margin-right:26px;
        }
    }
    li:last-child  a{margin-right:0;}
}

/*--------------------advertising-------------------*/
#advertising{width:1282px;margin-top:40px;
    ul{padding:20px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;
        li{
            float:left;
            width:319px;
            height: 60px;
            background:url('../img/abc.fw.png');
            border-right:1px solid #ccc;
        }
        li:nth-child(2){background-position:0 -76px;}
        li:nth-child(3){background-position:0 -153px;}
        li:nth-child(4){background-position:0 -227px;border-right:0 none;}
    }

}
/*--------------------foot-------------------*/
#foot{
    .foot_t{height: 160px;padding:20px 0;border-bottom:1px solid $fColor;
        .number{margin:0 85px;
            h3{width:295px;
                height: 73px;
                background:url('../img/logo.jpg');}
            .tel_1{width:315px;text-align:center;margin:5px 0}
            .tel_2{width:315px;text-align:center;
                p{font-size:18px;
                span{color:$fColor;}
                }
            }
        }
        .code{
            li{float:left;width:130px;margin-right:45px;color:$fColor;text-align:center;font-size:14px;
            img{margin-bottom:10px;}
                }   
            }
        .guide{
            li{float:left;margin-left:30px;
                h4{font-size:16px;margin:10px 0 20px 0;
                }
                a{display:block;height: 30px;line-height:30px;color:$fColor;font-size:14px;
                    &:hover{color:#64a131;text-decoration:underline;}
            }
            
            li:nth-child(1) a{width:70px;font-size:14px;color:$fColor;}
            li:nth-child(2) a{width:64px;font-size:14px;color:$fColor;}
            li:nth-child(3) a{width:84px;font-size:14px;color:$fColor;}
            li:nth-child(4) a{width:70px;font-size:14px;color:$fColor;}
        }
    } 
}    
    .foot_b{margin-top:15px;text-align:center;
        p{display:inline-block;font-size:14px;color:$fColor;}
        a{font-size:14px;color:$fColor;&:hover{text-decoration:underline;}}
        span{font-size:14px;color:#8FB13D;margin-bottom:5px;height: 16px;line-height:16px;}
        }
    
}
/*--------------------help-------------------*/
#help{position:fixed;right:0;bottom:2px;z-index:999;
    a{margin-bottom:1px}
    a:nth-child(1){display:block;width:35px;height:35px;background:url('../img/help.png')}
    a:nth-child(2){display:block;width:35px;height:35px;background:url('../img/help2.png')}
    a:nth-child(3){display:block;width:35px;height:35px;background:url('../img/help3.png')}
}

/*--------------------轮播图-------------------*/
// #banner{position:relative;width:1264px;height:400px;overflow:hidden;
//     ul{position:absolute;overflow:hidden;
//         li{float:left;}
//     }
//     .page{position:absolute;right:581px;top:360px;
//         span{display: inline-block;margin:0 8px;width:16px;height:16px;line-height:18px;text-align:center;color:#64a131;border-radius: 50%;border:1px solid #64a131;}
//         span.active{background-color:#64a131; }

//     }

// }

/*--------------------数据样式-------------------*/
#present,#family,#fresh{margin-bottom: 50px;
    .tit{width: 1280px;margin: 0 auto;padding: 15px 0 10px;height: 41px;font-size: 14px;line-height: 42px;color: #333;border-top: 1px solid #ccc;
        h3{float:left;}
        .Apage{float:left;height:40px;
        span.hh{display:inline-block;margin:5px;width:40px;line-height:1.8;text-align: center;background-color:skyblue;color:#666;}
        span.active{display:inline-block;margin:5px;width:40px;line-height:1.8;text-align: center;background-color:#fc0;color:#fff;}    
        }
        
        a{float:right;color: #333;&:hover{text-decoration:underline;}}
    }
    .list{
        div.simg{width:100%;height:248px;margin-bottom: 5px;overflow: hidden;}
        img.size{width:248px;height:248px;}
        img:hover.aaa{transform:scale(1.2);transition: transform 0.3s;}
        li.lf{float:left;width: 248px;height: 305px;margin: 0 5px 5px;position:relative;}
        p.sp{font-size:14px;line-height:24px;color: #555;text-overflow: ellipsis;max-width: 210px;white-space:nowrap;}
        span.price{font-size:14px;line-height:24px;color: #999;margin-left:5px;}
        div.shop{position:absolute;width:34px;height:34px;background:url('../img/shop.png');right:2px;bottom:5px;cursor:pointer;}
    }
}

.shop_car{display:none;position: fixed;top: 50%;left: 50%;z-index: 99999;width: 524px;padding: 6px;margin: 0 auto;margin: -144px 0 0 -262px;border: 8px;border-color: rgba(0,0,0,0.5);background: rgba(0,0,0,0.16);
    .shopt{height: 40px;padding-right: 17px;background-color: #eaeaea;
        img{margin-top: 10px;cursor: pointer;float: right;}
    }
    .shopb{background-color: #fff;padding-top:28px;
        h4{font-size: 30px;margin-left:120px;
    margin-bottom: 22px;color: #555;white-space: nowrap;padding-left: 20px;}
    p{font-size: 18px;color: #999;white-space: nowrap;padding-left: 4px;text-align: center;
        i{font-size: 18px;color: #999;white-space: nowrap;padding-left: 4px;text-align: center;color: #f6ab00;}
    }
    .action{padding: 28px;padding-bottom: 25px;
    .continue{color: #64a131;background: #f5ffed;border: 1px solid #64a131;border-radius: 4px;margin-right: 11px;margin-left: 70px;    display: block;width: 147px;height: 40px;font-size: 16px;text-align: center;line-height: 42px;float:left;}
    .account{border-radius: 4px;color: #eff4ec;background: #64a131;border-color: #64a131;float:left;display: block;width: 147px;height: 40px;font-size: 16px;text-align: center;line-height: 40px;}
    }
    
    }
}

    
