#section {
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 2px 8px rgba(230, 230, 230, 0.75);
  width: 100%;
  padding: 20px 0 23px 0;
}

#section h3 {
  padding: 4px 0 0 4px;
}

#section h3 a {
  display: block;
  background: url("../img/logo.jpg");
  width: 295px;
  height: 73px;
}

#register {
  padding-top: 50px;
  margin: 0 auto;
  width: 1000px;
}

#register h4 {
  font-size: 20px;
  color: #999999;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

#register .reg_left {
  margin: 36px 0 46px 0;
  position: relative;
}

#register .reg_left .login_1 {
  position: absolute;
  left: 175px;
  bottom: 21px;
}

#register .reg_left .login_1 a {
  padding: 12px 33px;
  height: 48px;
  border-radius: 4px;
  color: #64a131;
  text-align: center;
  line-height: 48px;
  border: 1px solid #64a131;
}

#register .reg_right {
  padding-left: 60px;
  margin-top: 111px;
}

#register .reg_right li {
  margin-bottom: 26px;
}

#register .reg_right li .hint {
  float: left;
  width: 96px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  color: #999999;
}

#register .reg_right li .all {
  border: 1px solid #ccc;
  margin-left: 42px;
  width: 276px;
  height: 28px;
}

#register .reg_right li input {
  padding: 6px 12px;
}

#register .reg_right li .check1 {
  width: 300px;
  padding-left: 138px;
}

#register .reg_right li .check1 p {
  padding-left: 74px;
  display: inline-block;
}

#register .reg_right li .check1 p a {
  color: #999999;
  font-size: 16px;
}

#register .reg_right li .check2 {
  width: 300px;
  padding-left: 138px;
}

#register .reg_right li .check2 button:nth-child(1) {
  margin-right: 5px;
}

#register .reg_right li .check2 button a {
  display: block;
  width: 143px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 18px;
}

#register .reg_right li .check2 button:nth-child(1) a {
  background-color: #64a131;
  padding: 0px;
  color: #fff;
  border-radius: 4px;
}

#register .reg_right li .check2 button:nth-child(2) a {
  border: 1px solid #64a131;
  background-color: #f5ffed;
  color: #7bae55;
  border-radius: 6px;
}
